{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href='{{ asset('styles/new_car.css')}}'>
{% endblock %}

{% block body %}
	<div class="d-flex flex-column  align-items-center justify-content-center">
		{% for message in app.flashes('error') %}
			<div class="alert alert-danger w-50 text-center mt-3" role="alert">
				<small>{{ message }}</small>
			</div>
		{% endfor %}
		{% for message in app.flashes('success') %}
			<div class="alert alert-success w-50 text-center mt-3" role="alert">
				<small>{{ message }}</small>
			</div>
		{% endfor %}

		<div class="d-flex justify-content-center mt-5">
			<div class="card h-50 w-50 mt-5  bg-dark" style="min-width: 490px; min-height: 400px; max-width: 520px">
				<div class="card-body p-5 py-4 newcar_form">
					<p class="text-uppercase text-center text-white mb-5 h3">Add new car</p>
					{{ form_start(addCarForm, {"attr": {"autocomplete": "off", "novalidate": "novalidate"}}) }}

					<div class="mb-5 newcar_form__form-field">
						<label for="registrationNo" class="form-label text-white">
							Brand
						</label>
						{{ form_widget(addCarForm.brand, {'attr' : {'id': 'registrationNo'}}) }}
					</div>

					<div class="mb-5 newcar_form__form-field">
						<label for="'registrationNo'" class="form-label text-white">Reg No</label>
						{# <input type="text" value="{{ field_value(addCarForm.registrationNo) }}" name="{{ field_name(addCarForm.registrationNo) }}" id="{{ field_name(addCarForm.registrationNo) }}" class="form-control" required> #}
						{{ form_widget(addCarForm.registrationNo, {'attr' : {'id': 'registrationNo'}}) }}
					</div>

					{{ form_row(addCarForm._token) }}
					<div class="d-flex justify-content-center" style="margin-top: 4em">
						<button type="submit" class="btn btn-info btn-block btn-lg text-body">Add</button>
					</div>
					{{form_end(addCarForm)}}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
